{% extends 'base.html' %}
{% include 'header.html' %}



{% block title %} Home {% endblock %}



{% block body %}

<div class="container">
    <div class="row">
        <div class="col md-12">

            <div class="jumbotron p-3">

                <h2>Manage <b>Taskmail </b> <button type="button" id="sendmail_link" class="btn btn-success float-right"
                        data-toggle="modal" data-target="#mymodal">Add New Taskmail</button> </h2>


                {% with messages = get_flashed_messages() %}

                {% if messages %}

                {% for message in messages %}

                <div class="alert alert-success alert-dismissable" role="alert">

                    <button type="button" class="close" data-dismiss="alert" aria-label="close">

                        <span aria-hidden="true">x</span>

                    </button>


                    {{message}}


                </div>


                {% endfor %}

                {% endif %}
                {% endwith %}


                <table class="table table-hover table-dark">

                    <tr>

                        <th>ID</th>
                        <th>email_subject</th>
                        <th>email_content</th>
                        <th>status</th>
                        <th>Action</th>

                    </tr>


                    {% for row in taskmails %}
                    <tr>
                        <td>{{row.id}}</td>
                        <td>{{row.email_subject}}</td>
                        <td>{{row.email_content}}</td>
                        <td>{{row.code_sta}}</td>
                        <td>
                            
                            <a href="/delete/{{row.id}}" class="btn btn-danger btn-xs"
                                onclick="return confirm('Are You Sure To Delete ?')">Delete</a>


                        </td>

                    </tr>


                    <!-- Modal Edit Employee-->
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">


                            <div class="modal-content">


                                <div class="modal-header">


                                    <h4 class="modal-title">Update Information</h4>


                                </div>


                                <div class="modal-body">


                                    <form action="" method="POST">


                                        <div class="form-group">


                                            <div class="form-group">

                                                <label>Email Subject</label>
                                                <input type="email" class="form-control" name="email_subject" required="1">
            
            
                                            </div>
            
            
                                            <div class="form-group">
            
            
                                                <label>Email Content:</label>
                                                <input type="text" class="form-control" name="email_content" required="1">
            
            
                                            </div>


                                        <div class="form-group">


                                            <button class="btn btn-primary" type="submit">Update</button>


                                        </div>


                                    </form>


                                </div>


                                <div class="modal-footer">


                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                                </div>


                            </div>


                        </div>

                    </div>


                    {% endfor %}


                </table>


            </div>



            <!-- Modal Add Employee-->


            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">

                            <h4 class="modal-title">Add Taskmail</h4>
                        </div>
                        <div class="modal-body">

                            <form action="{{url_for('taskmail_bp.save_email')}}" method="POST">


                                
                                <div class="form-group">

                                    <label >Timestamp</label>
                                    <input id="datetime" class="form-control" name="timestamp" required="1">
                                </div>

                               

                                <div class="form-group">

                                    <label>Email Recipient</label>
                                    <input type="email" class="form-control" name="email_recipient" required="1">


                                </div>

                                <div class="form-group">


                                    <label>Email Subject:</label>
                                    <input type="text" class="form-control" name="email_subject" required="1">


                                </div>


                                <div class="form-group">


                                    <label>Email Content:</label>
                                    <input type="text" class="form-control" name="email_content" required="1">


                                </div>


                                


                               




                                <div class="form-group">


                                    <button class="btn btn-primary" type="submit">Add Taskmail</button>


                                </div>


                            </form>


                        </div>


                        <div class="modal-footer">


                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


                        </div>


                    </div>


                </div>


            </div>





        </div>

    </div>


</div>




{% endblock %}